@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: Poppins;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 7rem;
}

.logo-h {
  font-weight: bolder;
  color: #708090;
}

.logo-g {
  font-weight: bolder;
  color: #FF7F50;
}

.section1 {
  padding-top: 6.5rem;
}

.row {
  padding-top: 4rem;
  padding-left: size14;
  padding-bottom: 4rem;
}

.col-sm-7 {
  padding-left: 3rem;
  padding-right: size14;
  display: -ms-grid;
  display: grid;
  border-left: ridge;
  border-left: solid;
  margin-bottom: auto;
}

.span {
  color: #E6E7EA;
}

.service {
  padding-top: 6rem;
  padding-left: size14;
  padding-bottom: size14;
  padding-right: size14;
}

.service1 {
  white-space: pre-line;
  width: 12rem;
}

.service-image {
  width: 9rem;
  height: 10rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

.service-container1, .service-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.service-container1 {
  padding-bottom: 1rem;
}

.service-container2 {
  padding-top: 1rem;
}

.service-heading {
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.data-img {
  padding-top: 2rem;
  color: #F1F4FFFF;
}

.project-container1, .project-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-container1 {
  padding-bottom: 4rem;
}

.project {
  padding-top: 6rem;
}

.project1:hover {
  color: transparent;
}

.project-image {
  height: 28rem;
  width: 17rem;
}

.project-heading {
  text-align: center;
  padding-bottom: 4rem;
}

.pricing {
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.pricing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card1 {
  background-color: blue;
  text-align: center;
}

.card-title {
  text-align: center;
  padding-top: 1rem;
}

.list-group {
  text-align: center;
}

.card-body h4 {
  color: aliceblue;
}

.card2 {
  text-align: center;
}

.pricing-heading {
  text-align: center;
  padding-bottom: 5rem;
}

.card {
  margin-bottom: 3rem;
  width: 16rem;
}

.input {
  width: 28rem;
}

.form-floating {
  padding-bottom: 2rem;
}

.contact-container {
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.input1 {
  width: 28rem;
}

.contact-data {
  width: 72rem;
}

div textarea {
  height: 12rem;
}

.contact-heading {
  text-align: center;
  padding-bottom: 4rem;
}

.form-container {
  text-align: -webkit-center;
}

.footer {
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#carouselExampleDark {
  padding-top: 4.1rem;
}

.d-block {
  height: 30rem;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.container {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  /* Center the DIV horizontally */
}

.fixed-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: fixed;
  background: #fff;
  padding: 10px 0;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.fixed-header {
  top: 0;
}

.fixed-footer {
  bottom: 0;
}

/* Some more styles to beutify this example */
nav a {
  color: skyblue;
  text-decoration: none;
  padding: 7px 25px;
  display: inline-block;
  font-family: Poppins;
  font-weight: 700;
}

#home {
  padding-block: 3rem;
}

.carousel-inner {
  padding-top: 0rem;
}
/*# sourceMappingURL=style.css.map */